# === Airflow ===
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/logs/
airflow/*.log

# === Python cache ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.egg

# === Virtual environments ===
.venv/
env/
venv/
velib-data-env/

# === OS / IDE ===
.DS_Store
Thumbs.db
.vscode/
.idea/

# === Notebooks checkpoints ===
.ipynb_checkpoints/

# === Data
data/

# === Secrets ===
.env
*.key
*.pem
